.mode-interact .mce-tinymce-inline,
.mode-interact .tox-tinymce-inline {
  display: none !important;
}

.mode-interact .mce-edit-highlight,
.mode-interact .mce-edit-focus,
.mode-interact .mce-content-body {
  outline: none;
}

.mode-interact [data-widget-package="com.fliplet.text"] > * {
  pointer-events: all !important;
}

.mce-content-body *[contentEditable="false"][data-mce-selected] {
  outline: none !important;
}

.fl-wysiwyg-text {
  word-break: break-word;
}
